fastapi== 0.89.1
opencv-python== 4.7.0.68
tensorflow== 2.9.0
uvicorn== 0.20.0
requests== 2.28.2
streamlit== 1.17.0
pandas
wikipedia== 1.4.0
geopy== 2.3.0
gtts== 2.3.2
folium== 0.14.0
numpy
pillow== 9.4.0
